#pageHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: var(--dark2);
  color: var(--lite1);

  a {
    margin: 0 20px 0 5px;
  }

  .homeLink {
    font-size: 1.7em;
    font-weight: 900;
  }

  a {
    color: var(--lite1);
    font-size: 1.1em;
    text-decoration: none;
  }
}