:root {
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: light dark;
  --dark1: #28536bff;
  --dark2: #c2948aff;
  --lite2: #7ea8beff;
  --lite1: #f6f0edff;
  --lite3: #bbb193ff;

  color: var(--dark1);
  background-color: var(--light1);
}

body {
  margin-top: 90px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--lite1);
    background-color: var(--dark1);
  }

}