.PersonCard {
  margin: 10px;
  background-color: bisque;
  flex: 1 1 200px;

  p:nth-child(1) {
    font-weight: bold;
    font-size: 1.5em;
  }

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }
}