# Node.js dependencies
node_modules/

# MongoDB database - Allow the data/db folder itself but not
# the huge DB files that are inside it.
data/db
data/people.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# VSCode settings
.vscode/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Dependency directories
jspm_packages/

# Optional TypeScript cache
*.tsbuildinfo

# Optional coverage directory used by tools like istanbul
coverage/

# Optional build directory
dist/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db